.gallery {
  background-color: $color-grey-light-1;
  grid-column: full-start / full-end;
  display: grid;
  // We want 8 columns with the same size occupying the entire grid container.
  grid-template-columns: repeat(8, 1fr);
  // We want to have 7 rows. The height of our rows should be tied to our viewport width, so that the cells will maintain it's aspect ratio. The easist way to do this is to use the viewport width unit (vw) which means in this case, we have a 5vw height of each row.
  grid-template-rows: repeat(7, 5vw);
  // grid-template: repeat(7, 5vw) / repeat(8, 1fr);
  // This gap is always only between the columns and rows but not on the side and not around the grid
  gap: 1.5rem;
  // Since we want to add some space around the grid container as well, we can definitely add some padding.
  padding: 1.5rem;

  &__item {
    &--1 {
      grid-row: 1 / span 2;
      grid-column: 1 / span 2;
    }

    &--2 {
      grid-row: 1 / span 3;
      grid-column: 3 / span 3;
    }

    &--3 {
      grid-row: 1 / span 2;
      grid-column: 6 / 7;
    }

    &--4 {
      grid-row: 1 / span 2;
      grid-column: 7 / -1;
    }

    &--5 {
      grid-row: 3 / span 3;
      grid-column: 1 / span 2;
    }

    &--6 {
      grid-row: 4 / span 2;
      grid-column: 3 / span 2;
    }

    &--7 {
      grid-row: 4 / 5;
      grid-column: 5 / 6;
    }

    &--8 {
      grid-row: 3 / span 2;
      grid-column: 6 / span 2;
    }

    &--9 {
      grid-row: 3 / span 3;
      grid-column: 8 / -1;
    }

    &--10 {
      grid-row: 6 / span 2;
      grid-column: 1 / 2;
    }

    &--11 {
      grid-row: 6 / span 2;
      grid-column: 2 / span 2;
    }

    &--12 {
      grid-row: 6 / span 2;
      grid-column: 4 / 5;
    }

    &--13 {
      grid-row: 5 / span 3;
      grid-column: 5 / span 3;
    }

    &--14 {
      grid-row: 6 / span 2;
      grid-column: 8 / -1;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    // Setting the object-fit value to cover is like setting the background size to cover for the background image which means, the whole image will fill it's assigned grid cell and will fix the problem about the images overflowing to another grid cells because of it's intrinsic value
    object-fit: cover;
    display: block;
  }
}
